@using AnApiOfIceAndFire.Infrastructure.Html
@{
    ViewBag.Title = "Documentation";
}

<h2>Documentation</h2>

<div class="row">
    <div class="col-sm-3 col-md-3">
        <h5>Overview</h5>
        <div class="list-group">
            <a href="#intro" class="list-group-item">Introduction</a>
            <a href="#current_version" class="list-group-item">Current Version</a>           
            <a href="#authentication" class="list-group-item">Authentication</a>
            <a href="#pagination" class="list-group-item">Pagination</a>
            <a href="#rate_limiting" class="list-group-item">Rate Limiting</a>
            <a href="#caching" class="list-group-item">Caching</a>
            <a href="#versioning" class="list-group-item">Versioning</a>
        </div>
        <h5>Resources</h5>
        <div class="list-group">
            <a href="#root" class="list-group-item">Root</a>
            <a href="#books" class="list-group-item">Books</a>
            <a href="#characters" class="list-group-item">Characters</a>
            <a href="#houses" class="list-group-item">Houses</a>
        </div>
        <h5>Libraries</h5>
        <div class="list-group">
            <a href="#library-elixir" class="list-group-item">Elixir</a>
            <a href="#library-graphql" class="list-group-item">GraphQL</a>
            <a href="#library-haskell" class="list-group-item">Haskell</a>
            <a href="#library-node" class="list-group-item">Node</a>
            <a href="#library-python" class="list-group-item">Python</a>
            <a href="#library-ruby" class="list-group-item">Ruby</a>
            <a href="#library-swift" class="list-group-item">Swift</a>
        </div>
    </div>

    <div id="documentation" class="col-md-9 col-sm-9">
        @Html.Markdown("~/Content/Documentation/Documentation.md")
        @Html.Markdown("~/Content/Documentation/Root.md")
        @Html.Markdown("~/Content/Documentation/Books.md")
        @Html.Markdown("~/Content/Documentation/Characters.md")
        @Html.Markdown("~/Content/Documentation/Houses.md")
        @Html.Markdown("~/Content/Documentation/Libraries.md")
    </div>
</div>
